{% extends 'base.html.twig' %}

{% block title %}Blog Carl{% endblock %}

{% block body %}
    <div class="d-flex w-100">
        <div class="w-75">
        <p>New Articles</p>
        {% for post in posts %}
            <div class="d-flex">
                <a href="profile/{{ post.author.id}}">{{ post.author.username }}</a>
                <a href="article/{{ post.id}}">{{ post.content }}</a>
            </div>
        {% endfor %}
        </div>
        <div class="w-25">
            <p class="font-weight-bold">Bonjour {{currentUserName}}</p>
            <p>Top Articles</p>
        </div>
    </div>
{% endblock %}
