{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <p class="p-3 border">
    {{ post.content}}
    </p>

    {% if is_granted('ROLE_USER') %}
    <div>
        {% form_theme form 'bootstrap_4_layout.html.twig' %}

        {{ form(form) }}
{#        {% block comment_content_row %}#}
{#            <div>#}
{#            </div>#}
{#        {% endblock %}#}
    </div>
    {% endif %}

    <div class="d-flex flex-column p-3 border">
        <h1 class="font-weight-bolder">Last Comments</h1>
        {% for comment in post.comments %}
           {% if is_granted('view',comment) %}
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <h5 class="font-weight-bold">{{ comment.author.username}} says :</h5>
                    {% if is_granted('edit',comment) %}
                        <div>
                        <a href="/article/{{post.id}}/editComment/{{comment.id}}">Edit</a>
                        <a href="/article/{{post.id}}/deleteComment/{{comment.id}}">Delete</a>
                        </div>
                    {% endif %}
                </div>
                <div>{{ comment.content}} </div>

            </div>
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}
